<html><head>  
  <meta http-equiv="refresh" content="300">
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Mail2Web - Index</title>
  <script type="text/javascript">
function displayDate(date,picname)
{
  document.getElementById("maindate").innerHTML=date;
  document.getElementById("mainimage").innerHTML="<img src='"+picname+"' height='50%'>";
}
  </script>
</head><body>
<table style="text-align: center; width: 100%;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: middle; text-align: center;">
      <p id="maindate">$MAINDATE</p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: middle; text-align: center;">
      <p id="mainimage">$MAINIMAGE</p>
      </td>
    </tr>
  </tbody>
</table>
<br>
<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    $SUBIMAGES
  </tbody>
</table>
<br>
</body></html>
